* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  align-content: center;
  background-color: #dde4b4;
  color: #157A6E;
}

.Container {
  align-content: center;
}

.Home {

  color: #157A6E;
  background-color: #dde4b4;
}